.App {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: slategray;
  padding: 2rem;
  margin: 0 auto;
  width: 500px;
  color: azure;
}

.App ul {
  margin: 0;
}
